.MuiDataGrid-row.Mui-odd {
    background-color: #f5f5f5;
}

.MuiDataGrid-root .MuiDataGrid-colCell.MuiDataGrid-colCell, .MuiDataGrid-root .MuiDataGrid-cell.MuiDataGrid-cell {
    padding: 0 2rem;
}

.availability-wrapper {
    display: flex;
    align-items: center;
}

.availability-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: 1px;
    margin-right: .5rem;
    border-radius: 10px;
    background-color: #4caf50;
}

.availability-icon.no {
    background-color: #d32f2f;
}

.availability-icon.waiting {
    background-color: rgba(0, 0, 0, 0.12);
}

.availability-icon.less {
    background-color: #ff9800;
}

.table-cell-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}